[user]
  name = Your Name
  email = your.email@example.com
  signingkey = ssh-ed25519 PUBLIC_KEY_HERE

[pull]
	rebase = true

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/run/current-system/sw/bin/op-ssh-sign"
